{
  "openapi": "3.1.0",
  "info": {
    "title": "Ravelry API",
    "description": "Ravelry REST API. Supports HTTP Basic Auth (read-only) and OAuth 2.0 for authenticated endpoints.",
    "version": "1.0.0",
    "contact": {
      "email": "api@ravelry.com",
      "url": "https://www.ravelry.com/api"
    }
  },
  "servers": [
    {
      "url": "https://api.ravelry.com",
      "description": "Ravelry API"
    }
  ],
  "tags": [
    {
      "name": "general"
    },
    {
      "name": "app"
    },
    {
      "name": "bundled_items"
    },
    {
      "name": "bundles"
    },
    {
      "name": "carts"
    },
    {
      "name": "comments"
    },
    {
      "name": "deliveries"
    },
    {
      "name": "designers"
    },
    {
      "name": "drafts"
    },
    {
      "name": "extras"
    },
    {
      "name": "favorites"
    },
    {
      "name": "fiber"
    },
    {
      "name": "fiber_attribute_groups"
    },
    {
      "name": "forum_posts"
    },
    {
      "name": "forums"
    },
    {
      "name": "friends"
    },
    {
      "name": "groups"
    },
    {
      "name": "in_store_sales"
    },
    {
      "name": "languages"
    },
    {
      "name": "library"
    },
    {
      "name": "messages"
    },
    {
      "name": "needles"
    },
    {
      "name": "packs"
    },
    {
      "name": "pages"
    },
    {
      "name": "pattern_attributes"
    },
    {
      "name": "pattern_categories"
    },
    {
      "name": "pattern_source_types"
    },
    {
      "name": "pattern_sources"
    },
    {
      "name": "patterns"
    },
    {
      "name": "people"
    },
    {
      "name": "photos"
    },
    {
      "name": "product_attachments"
    },
    {
      "name": "products"
    },
    {
      "name": "projects"
    },
    {
      "name": "queue"
    },
    {
      "name": "saved_searches"
    },
    {
      "name": "shops"
    },
    {
      "name": "stash"
    },
    {
      "name": "stores"
    },
    {
      "name": "topics"
    },
    {
      "name": "upload"
    },
    {
      "name": "volumes"
    },
    {
      "name": "yarn_attributes"
    },
    {
      "name": "yarn_companies"
    },
    {
      "name": "yarns"
    }
  ],
  "paths": {
    "/color_families": {
      "get": {
        "operationId": "colorFamilies",
        "tags": [
          "general"
        ],
        "summary": "/color_families",
        "description": "Retrieve list of color families",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "color_families": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ColorFamily"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/current_user": {
      "get": {
        "operationId": "currentUser",
        "tags": [
          "general"
        ],
        "summary": "/current_user",
        "description": "Get current user",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/UserFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/fiber_attributes": {
      "get": {
        "operationId": "fiberAttributes",
        "tags": [
          "general"
        ],
        "summary": "/fiber_attributes",
        "description": "Retrieve list of the current fiber attributes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fiber_attributes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FiberAttribute"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/fiber_categories": {
      "get": {
        "operationId": "fiberCategories",
        "tags": [
          "general"
        ],
        "summary": "/fiber_categories",
        "description": "List the current fiber categories",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fiber_categories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FiberCategoryList"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/search": {
      "get": {
        "operationId": "search",
        "tags": [
          "general"
        ],
        "summary": "/search",
        "description": "Global search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search term for fulltext searching yarns"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to retrieve. Default = 50, maximum = 500"
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional space delimited list of result types to include. Available options: User, PatternAuthor, PatternSource, Pattern, YarnCompany, Yarn, Group, Event, Project, Page, Topic, Shop"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/yarn_weights": {
      "get": {
        "operationId": "yarnWeights",
        "tags": [
          "general"
        ],
        "summary": "/yarn_weights",
        "description": "Retrieve list of active yarn weights",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "yarn_weights": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/YarnWeight"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/app/config/delete": {
      "post": {
        "operationId": "appConfigDelete",
        "tags": [
          "app"
        ],
        "summary": "app/config/delete",
        "description": "Delete a Ravelry-specific application configuration setting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keys": {
                    "type": "string",
                    "description": "Space delimited list of keys to delete"
                  }
                },
                "required": [
                  "keys"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/app/config/get": {
      "get": {
        "operationId": "appConfigGet",
        "tags": [
          "app"
        ],
        "summary": "app/config/get",
        "description": "Get Ravelry-specific application configuration",
        "parameters": [
          {
            "name": "keys",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Space delimited list of keys to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/app/config/set": {
      "post": {
        "operationId": "appConfigSet",
        "tags": [
          "app"
        ],
        "summary": "app/config/set",
        "description": "Set Ravelry-specific application configuration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "(key_names)": {
                    "type": "string",
                    "description": "Key/value pairs to set"
                  }
                },
                "required": [
                  "(key_names)"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/app/data/delete": {
      "post": {
        "operationId": "appDataDelete",
        "tags": [
          "app"
        ],
        "summary": "app/data/delete",
        "description": "Delete a user and application specific piece of data (key/value)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keys": {
                    "type": "string",
                    "description": "Space delimited list of keys to delete"
                  }
                },
                "required": [
                  "keys"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/app/data/get": {
      "get": {
        "operationId": "appDataGet",
        "tags": [
          "app"
        ],
        "summary": "app/data/get",
        "description": "Get user and application specific data",
        "parameters": [
          {
            "name": "keys",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Space delimited list of keys to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/app/data/set": {
      "post": {
        "operationId": "appDataSet",
        "tags": [
          "app"
        ],
        "summary": "app/data/set",
        "description": "Store user and application-specific data.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "(key_names)": {
                    "type": "string",
                    "description": "Key/value pairs to set"
                  }
                },
                "required": [
                  "(key_names)"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/bundled_items/{bundled_item_id}": {
      "delete": {
        "operationId": "bundledItemsDelete",
        "tags": [
          "bundled_items"
        ],
        "summary": "bundled_items/delete",
        "description": "Delete bundled item",
        "parameters": [
          {
            "name": "bundled_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bundled item to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/BundledItemFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "get": {
        "operationId": "bundledItemsShow",
        "tags": [
          "bundled_items"
        ],
        "summary": "bundled_items/show",
        "description": "Get single bundled_item",
        "parameters": [
          {
            "name": "bundled_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bundled item to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bundled_item": {
                      "$ref": "#/components/schemas/BundledItemFull"
                    },
                    "item": {
                      "$ref": "#/components/schemas/Object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/bundles/create": {
      "post": {
        "operationId": "bundlesCreate",
        "tags": [
          "bundles"
        ],
        "summary": "bundles/create",
        "description": "Create bundle record",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/BundlePOST",
                    "description": "Bundle JSON object"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User to create bundle for"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bundle": {
                      "$ref": "#/components/schemas/BundleFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/bundles/{id}": {
      "delete": {
        "operationId": "bundlesDelete",
        "tags": [
          "bundles"
        ],
        "summary": "bundles/delete",
        "description": "Delete a bundle record",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User to retrieve bundle from"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Id of the bundle record that should be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bundle": {
                      "$ref": "#/components/schemas/BundleFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "get": {
        "operationId": "bundlesShow",
        "tags": [
          "bundles"
        ],
        "summary": "bundles/show",
        "description": "Get bundle record",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User to retrieve bundle from"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bundle to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bundle": {
                      "$ref": "#/components/schemas/BundleFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "operationId": "bundlesUpdate",
        "tags": [
          "bundles"
        ],
        "summary": "bundles/update",
        "description": "Update an existing bundle record",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/BundlePOST",
                    "description": "Bundle JSON object"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User who owns the bundle"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bundle to update"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bundle": {
                      "$ref": "#/components/schemas/BundleFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/bundles/list": {
      "get": {
        "operationId": "bundlesList",
        "tags": [
          "bundles"
        ],
        "summary": "bundles/list",
        "description": "Get bundles list",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User to retrieve bundles from"
          },
          {
            "name": "owner_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Space delimited list of types of bundles to retrieve. Accepted options: designer, group, personal. Defaults to all types."
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query for bundles."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Result page to retrieve. Defaults to 1 (the first page)."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Defaults to 25. Maximum size accepted = 100"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bundles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BundleList"
                      }
                    },
                    "paginator": {
                      "$ref": "#/components/schemas/Paginator"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/carts/{id}/add": {
      "post": {
        "operationId": "cartsAdd",
        "tags": [
          "carts"
        ],
        "summary": "carts/add",
        "description": "Add a product to a cart. Used to integrate external pattern stores with the Ravelry library.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item_code": {
                    "type": "string",
                    "description": "SKU of the product to add. Configurable in your Ravelry store as alphanumeric \"Item number\"."
                  }
                },
                "required": [
                  "item_code"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the cart to update"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cart": {
                      "$ref": "#/components/schemas/CartFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/carts/create": {
      "post": {
        "operationId": "cartsCreate",
        "tags": [
          "carts"
        ],
        "summary": "carts/create",
        "description": "Create a new cart. Used to integrate external pattern stores with the Ravelry library.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "store_id": {
                    "type": "integer",
                    "description": "ID of store to associate with the cart. Contact Ravelry for your cart access and your store ID."
                  }
                },
                "required": [
                  "store_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cart": {
                      "$ref": "#/components/schemas/CartFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/carts/{id}/external_checkout": {
      "post": {
        "operationId": "cartsExternalCheckout",
        "tags": [
          "carts"
        ],
        "summary": "carts/external_checkout",
        "description": "Notify Ravelry that a cart has been checked out (paid for) externally. This will create an invoice, mark it as paid, and deliver the products to the customer.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_reference": {
                    "type": "string",
                    "description": "Custom text to associate with the Ravelry invoice/receipt. Not visible to customer. Normally, you'd use your internal invoice number"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the cart to checkout"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "$ref": "#/components/schemas/InvoiceCart"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/carts/loveknitting/{id}/external_checkout": {
      "post": {
        "operationId": "cartsLoveknittingExternalCheckout",
        "tags": [
          "carts"
        ],
        "summary": "carts/loveknitting/external_checkout",
        "description": "Notify Ravelry that a cart has been checked out (paid for) at loveknitting.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_reference": {
                    "type": "string",
                    "description": "Custom text to associate with the Ravelry invoice/receipt. Not visible to customer. Normally, you'd use your internal invoice number"
                  },
                  "product_id_list": {
                    "type": "string",
                    "description": "Space delimited list of product IDs that were purchased."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the cart to checkout"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "$ref": "#/components/schemas/InvoiceCart"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/comments/create": {
      "post": {
        "operationId": "commentsCreate",
        "tags": [
          "comments"
        ],
        "summary": "comments/create",
        "description": "Post a comment related to an object",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of item that is being commented on. One of: project, pattern, yarn, stash."
                  },
                  "commented_id": {
                    "type": "integer",
                    "description": "ID of item being commented on."
                  },
                  "body": {
                    "type": "string",
                    "description": "Comment body. Text, Markdown, HTML or some combination of those is accepted."
                  },
                  "reply_to_id": {
                    "type": "integer",
                    "description": "ID of comment being replied to. Only the owner of a project, stash, yarn or pattern can post replies."
                  }
                },
                "required": [
                  "type",
                  "commented_id",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment": {
                      "$ref": "#/components/schemas/CommentFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/comments/{id}": {
      "delete": {
        "operationId": "commentsDelete",
        "tags": [
          "comments"
        ],
        "summary": "comments/delete",
        "description": "Delete a comment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the comment being deleted."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment": {
                      "$ref": "#/components/schemas/CommentFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/comments/list": {
      "get": {
        "operationId": "commentsList",
        "tags": [
          "comments"
        ],
        "summary": "comments/list",
        "description": "Get list of comments left by a user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User to retrieve projects from"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Result page to retrieve. Defaults to 1 (the first page)."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Defaults to 25. Maximum size accepted = 100"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CommentHistory"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/deliveries/list": {
      "get": {
        "operationId": "deliveriesList",
        "tags": [
          "deliveries"
        ],
        "summary": "deliveries/list",
        "description": "List the products that have been purchased by or gifted to the current user",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Result page to retrieve. Defaults to 1 (the first page)."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Defaults to 25. Maximum size accepted = 100"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deliveries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeliveryList"
                      }
                    },
                    "paginator": {
                      "$ref": "#/components/schemas/Paginator"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/deliveries/#{id}/renew": {
      "post": {
        "operationId": "deliveriesRenew",
        "tags": [
          "deliveries"
        ],
        "summary": "deliveries/renew",
        "description": "Renew an expired digital product delivery token/url.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_email_address": {
                    "type": "string",
                    "description": "The email address supplied during the initial checkout"
                  }
                },
                "required": [
                  "customer_email_address"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Delivery ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delivery": {
                      "$ref": "#/components/schemas/DeliveryReceipt"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/designers/{id}": {
      "get": {
        "operationId": "designersShow",
        "tags": [
          "designers"
        ],
        "summary": "designers/show",
        "description": "Get designer details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Designer ID or permalink"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Extra result parts to include. Space delimited. Accepted options: featured_bundles"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pattern_author": {
                      "$ref": "#/components/schemas/PatternAuthorFull"
                    },
                    "featured_bundles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BundleList"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/drafts/patterns/create": {
      "post": {
        "operationId": "draftsCreate",
        "tags": [
          "drafts"
        ],
        "summary": "drafts/create",
        "description": "Create a draft pattern",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/DraftPatternPOST",
                    "description": "Draft pattern data"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft_pattern": {
                      "$ref": "#/components/schemas/DraftPatternFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/drafts/patterns/{draft_pattern_id}/create_photo": {
      "post": {
        "operationId": "draftsCreatePhoto",
        "tags": [
          "drafts"
        ],
        "summary": "drafts/create_photo",
        "description": "Add a photo to a draft pattern (using an uploaded image or URL as a source)",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_id": {
                    "type": "integer",
                    "description": "Uploaded image to use, created via /upload/image.json"
                  },
                  "source_url": {
                    "type": "string",
                    "description": "URL of the image to use (preferably high-res and 1600px on the smallest side minimum)"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "draft_pattern_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Draft pattern id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/drafts/patterns/list": {
      "get": {
        "operationId": "draftsList",
        "tags": [
          "drafts"
        ],
        "summary": "drafts/list",
        "description": "Get a list of draft patterns that are associated with the current user's pro account(s)",
        "parameters": [
          {
            "name": "business_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "If supplied, only return the draft patterns associated with this business"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businesses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BusinessList"
                      }
                    },
                    "draft_patterns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DraftPatternFull"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/drafts/patterns/{draft_pattern_id}/publish": {
      "post": {
        "operationId": "draftsPublish",
        "tags": [
          "drafts"
        ],
        "summary": "drafts/publish",
        "description": "Publish a draft pattern to Ravelry's pattern database.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "preview": {
                    "type": "boolean",
                    "description": "If set to \"true\", the pattern will be validated for errors/warnings but not published."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "draft_pattern_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Draft pattern to publish"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft_pattern": {
                      "$ref": "#/components/schemas/DraftPatternFull"
                    },
                    "pattern": {
                      "$ref": "#/components/schemas/PatternFull"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "preview_url": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/drafts/patterns/{draft_pattern_id}/reorder_photos": {
      "post": {
        "operationId": "draftsReorderPhotos",
        "tags": [
          "drafts"
        ],
        "summary": "drafts/reorder_photos",
        "description": "Change order of associated photos",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sort_order": {
                    "type": "string",
                    "description": "List of photo IDs, space delimited"
                  }
                },
                "required": [
                  "sort_order"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "draft_pattern_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Draft pattern ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "photos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PhotoFull"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/drafts/patterns/{id}": {
      "get": {
        "operationId": "draftsShow",
        "tags": [
          "drafts"
        ],
        "summary": "drafts/show",
        "description": "Get draft pattern details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Draft pattern to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft_pattern": {
                      "$ref": "#/components/schemas/DraftPatternFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/drafts/patterns/{draft_pattern_id}/unpublish": {
      "post": {
        "operationId": "draftsUnpublish",
        "tags": [
          "drafts"
        ],
        "summary": "drafts/unpublish",
        "description": "Undo a publish operation. See notes for limitations.",
        "parameters": [
          {
            "name": "draft_pattern_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Draft pattern to unpublish"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft_pattern": {
                      "$ref": "#/components/schemas/DraftPatternFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/drafts/patterns/{draft_pattern_id}": {
      "put": {
        "operationId": "draftsUpdate",
        "tags": [
          "drafts"
        ],
        "summary": "drafts/update",
        "description": "Update a draft pattern",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/DraftPatternPOST",
                    "description": "Draft pattern JSON object"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "draft_pattern_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Draft pattern to update"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft_pattern": {
                      "$ref": "#/components/schemas/DraftPatternFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/extras/create_attachment": {
      "post": {
        "operationId": "extrasCreateAttachment",
        "tags": [
          "extras"
        ],
        "summary": "extras/create_attachment",
        "description": "Convert an upload into an (image) attachment that can be referenced in fields that accept markdown or HTML",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_id": {
                    "type": "integer",
                    "description": "Uploaded image to use, created via /upload/image.json"
                  }
                },
                "required": [
                  "image_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image_path": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/favorites/{id}/add_to_bundle": {
      "post": {
        "operationId": "favoritesAddToBundle",
        "tags": [
          "favorites"
        ],
        "summary": "favorites/add_to_bundle",
        "description": "Add a favorite record to a bundle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bundle_id": {
                    "type": "integer",
                    "description": "Id of the bundle the favorite should be added to"
                  }
                },
                "required": [
                  "bundle_id"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User who owns the favorite record"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Id of the favorite record"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookmark": {
                      "$ref": "#/components/schemas/BookmarkFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/favorites/create": {
      "post": {
        "operationId": "favoritesCreate",
        "tags": [
          "favorites"
        ],
        "summary": "favorites/create",
        "description": "Create favorite record",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/BookmarkPOST",
                    "description": "Bookmark (favorite) JSON object"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User who owns the favorite record"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookmark": {
                      "$ref": "#/components/schemas/BookmarkFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/favorites/{id}": {
      "delete": {
        "operationId": "favoritesDelete",
        "tags": [
          "favorites"
        ],
        "summary": "favorites/delete",
        "description": "Delete a favorite record",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User who owns the favorite record"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Id of the favorite record that should be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookmark": {
                      "$ref": "#/components/schemas/BookmarkFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "get": {
        "operationId": "favoritesShow",
        "tags": [
          "favorites"
        ],
        "summary": "favorites/show",
        "description": "Retrieve a favorite record",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User who owns the favorite record"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the favorite to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookmark": {
                      "$ref": "#/components/schemas/BookmarkFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "operationId": "favoritesUpdate",
        "tags": [
          "favorites"
        ],
        "summary": "favorites/update",
        "description": "Update a favorite record",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/BookmarkPOST",
                    "description": "Bookmark (favorite) JSON object"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User who owns the favorite record"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Id of the favorite record that should be updated"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookmark": {
                      "$ref": "#/components/schemas/BookmarkFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/favorites/list": {
      "get": {
        "operationId": "favoritesList",
        "tags": [
          "favorites"
        ],
        "summary": "favorites/list",
        "description": "Get favorite list",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User to retrieve projects from"
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Space delimited list of types of favorites to retrieve. Accepted options: project, pattern, yarn, stash, forumpost, designer, yarnbrand, yarnshop, bundle. Defaults to all types."
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query for full text search. Cannot be combined with \"tag\" parameter."
          },
          {
            "name": "deep_search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Full text search should search inside text of favorited items (notes, etc). Defaults to false."
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query for tag search. Cannot be combined with \"query\" parameter."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Result page to retrieve. Defaults to 1 (the first page)."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Defaults to 25. Maximum size accepted = 100"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "favorites": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BookmarkList"
                      }
                    },
                    "paginator": {
                      "$ref": "#/components/schemas/Paginator"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/favorites/{id}/remove_from_bundle": {
      "post": {
        "operationId": "favoritesRemoveFromBundle",
        "tags": [
          "favorites"
        ],
        "summary": "favorites/remove_from_bundle",
        "description": "Remove a favorite record from a bundle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bundle_id": {
                    "type": "integer",
                    "description": "Id of the bundle the favorite should be removed from"
                  }
                },
                "required": [
                  "bundle_id"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User who owns the favorite record"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Id of the favorite record"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookmark": {
                      "$ref": "#/components/schemas/BookmarkFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/fiber/{id}/comments": {
      "get": {
        "operationId": "fiberComments",
        "tags": [
          "fiber"
        ],
        "summary": "fiber/comments",
        "description": "Retrieve a stashed fiber's comments",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Result page to retrieve. Defaults to first page."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Defaults to 25 comments per page. Maximum is 100."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort order. Options are: time (and time_ for a descending sort)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    },
                    "paginator": {
                      "$ref": "#/components/schemas/Paginator"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/fiber/create": {
      "post": {
        "operationId": "fiberCreate",
        "tags": [
          "fiber"
        ],
        "summary": "fiber/create",
        "description": "Create fiber stash record",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/FiberStashPOST",
                    "description": "Fiber Stash JSON object"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User to create fiber stash for"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fiber_stash": {
                      "$ref": "#/components/schemas/FiberStashFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/fiber/{id}/create_photo": {
      "post": {
        "operationId": "fiberCreatePhoto",
        "tags": [
          "fiber"
        ],
        "summary": "fiber/create_photo",
        "description": "Add a photo to a stashed fiber (using an uploaded image or URL as a source)",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_id": {
                    "type": "integer",
                    "description": "Uploaded image to use, created via /upload/image.json"
                  },
                  "source_url": {
                    "type": "integer",
                    "description": "URL of the image to use (preferably high-res)"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username of the user who owns the fiber stash entry"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Fiber Stash ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/fiber/{id}": {
      "delete": {
        "operationId": "fiberDelete",
        "tags": [
          "fiber"
        ],
        "summary": "fiber/delete",
        "description": "Permanently delete a fiber stash entry",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User who owns the fiber stash entry"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Fiber stash ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fiber_stash": {
                      "$ref": "#/components/schemas/FiberStashFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "get": {
        "operationId": "fiberShow",
        "tags": [
          "fiber"
        ],
        "summary": "fiber/show",
        "description": "Get fiber stash record",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User to retrieve stash from"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Stash to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fiber_stash": {
                      "$ref": "#/components/schemas/FiberStashFull"
                    },
                    "user": {
                      "$ref": "#/components/schemas/UserSmall"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "operationId": "fiberUpdate",
        "tags": [
          "fiber"
        ],
        "summary": "fiber/update",
        "description": "Update an existing fiber stash record",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/FiberStashPOST",
                    "description": "Fiber Stash JSON object"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User who owns the fiber entry"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the fiber stash entry to update"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fiber_stash": {
                      "$ref": "#/components/schemas/FiberStashFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/fiber_attribute_groups/list": {
      "get": {
        "operationId": "fiberAttributeGroupsList",
        "tags": [
          "fiber_attribute_groups"
        ],
        "summary": "fiber_attribute_groups/list",
        "description": "Retrieve list of fiber attribute groups",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fiber_attribute_groups": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FiberAttributeGroup"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/forum_posts/{forum_post_id}": {
      "get": {
        "operationId": "forumPostsShow",
        "tags": [
          "forum_posts"
        ],
        "summary": "forum_posts/show",
        "description": "Get single forum post",
        "parameters": [
          {
            "name": "forum_post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Forum post to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "forum_post": {
                      "$ref": "#/components/schemas/ForumPostFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "operationId": "forumPostsUpdate",
        "tags": [
          "forum_posts"
        ],
        "summary": "forum_posts/update",
        "description": "Update a forum post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "New forum post body"
                  }
                },
                "required": [
                  "body"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "forum_post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Forum post to update"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "forum_post": {
                      "$ref": "#/components/schemas/ForumPostFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/forum_posts/unread": {
      "get": {
        "operationId": "forumPostsUnread",
        "tags": [
          "forum_posts"
        ],
        "summary": "forum_posts/unread",
        "description": "Get list of unread posts, across all forums",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Extra result parts to include. Space delimited. Accepted options: vote_totals, user_votes"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Result page to retrieve. Defaults to first page."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size. Defaults to 25."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ForumPostList"
                      }
                    },
                    "vote_totals": {
                      "$ref": "#/components/schemas/ForumMarkers"
                    },
                    "user_votes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "paginator": {
                      "$ref": "#/components/schemas/Paginator"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/forum_posts/{forum_post_id}/vote": {
      "get": {
        "operationId": "forumPostsVote",
        "tags": [
          "forum_posts"
        ],
        "summary": "forum_posts/vote",
        "description": "Update your vote on one of the forum post voting buttons",
        "parameters": [
          {
            "name": "forum_post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Forum post to vote on"
          },
          {
            "name": "vote",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "description": "Your vote. Accepted values are 0 and 1: 1 to set your vote, 0 to clear it"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of vote to cast. Accepted options: interesting, educational, funny, agree, disagree, love"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "vote_totals": {
                      "$ref": "#/components/schemas/ForumMarkers"
                    },
                    "user_votes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/forums/filtered_topics": {
      "get": {
        "operationId": "forumsFilteredTopics",
        "tags": [
          "forums"
        ],
        "summary": "forums/filtered_topics",
        "description": "Filter topics across all forums/groups to find those that are relevant to the authenticated user",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "One of: mine, reading, posting, watching, ignoring"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "One of: started, replied, posts, topic. Defaults to \"replied\""
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Result page to retrieve. Defaults to first page."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Defaults to 25, maximum is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "topics": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TopicList"
                      }
                    },
                    "paginator": {
                      "$ref": "#/components/schemas/Paginator"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/forums/sets": {
      "get": {
        "operationId": "forumsSets",
        "tags": [
          "forums"
        ],
        "summary": "forums/sets",
        "description": "Get forum sets for current user (or default set)",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "forum_sets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ForumSet"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/forums/{forum_id}/topics": {
      "get": {
        "operationId": "forumsTopics",
        "tags": [
          "forums"
        ],
        "summary": "forums/topics",
        "description": "Get topic list for a specific forum, personalize for the authenticated user",
        "parameters": [
          {
            "name": "forum_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Forum to retrieve topics from"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Result page to retrieve. Defaults to first page."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "forum": {
                      "$ref": "#/components/schemas/ForumList"
                    },
                    "topics": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TopicList"
                      }
                    },
                    "paginator": {
                      "$ref": "#/components/schemas/Paginator"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/friends/activity": {
      "get": {
        "operationId": "friendsActivity",
        "tags": [
          "friends"
        ],
        "summary": "friends/activity",
        "description": "Retrieve recent friends' activity",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Friends will be selected from this user"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Result page to retrieve. Defaults to 1 (the first page)."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Defaults to 25. Maximum size accepted = 50"
          },
          {
            "name": "activity_type_keys",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Space delimited list of activity types. Currently accepted types: added-project-photo, added-stash-photo, queued-pattern, added-favorite, added-handspun-photo"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivityList"
                      }
                    },
                    "paginator": {
                      "$ref": "#/components/schemas/Paginator"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/friends/create": {
      "post": {
        "operationId": "friendsCreate",
        "tags": [
          "friends"
        ],
        "summary": "friends/create",
        "description": "Add a friend",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "friend_user_id": {
                    "type": "integer",
                    "description": "User ID of the user who should be added as a friend"
                  }
                },
                "required": [
                  "friend_user_id"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User who owns the friendship record (ie. the currently logged in user)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "friendship": {
                      "$ref": "#/components/schemas/FriendshipFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/friends/{id}/destroy": {
      "post": {
        "operationId": "friendsDestroy",
        "tags": [
          "friends"
        ],
        "summary": "friends/destroy",
        "description": "Delete a friendship record",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User who owns the friendship record (ie. the currently logged in user)"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the friendship record that should be deleted (not the user ID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "friendship": {
                      "$ref": "#/components/schemas/FriendshipFull"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/people/{username}/friends/list": {
      "get": {
        "operationId": "friendsList",
        "tags": [
          "friends"
        ],
        "summary": "friends/list",
        "description": "Get friend list",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User to retrieve projects from"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Collection"
                      }
[...]
